.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}
@media (max-width: 700px) {
  .todos {
    width: 95%;
  }
}
